@charset "utf-8";

html {
    background: linear-gradient(#008452, #00444d 75%);
    background-attachment: fixed;
    color: #ffffff;
    line-height: 200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    text-align: center;
}

h1 {
    padding-top: 2.5%;
}

h1, nav a {
    text-shadow: #000000 5px 5px 5px;
}

nav ul {
    position: fixed;
    top: 0;
    padding-left: 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

nav li {
    text-align: center;
    display: inline;
    padding: 2.5%;    
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #00ddfa;
    text-decoration: underline;
}

img {
    width: 20%;
}

li {
    text-align: justify;
}

dl {
    text-align: justify;
}

dt {
    font-style: italic;
    padding: 1.025%;
}