@charset "utf-8";

html{
    background: linear-gradient(#008452, #00444d 75%);
    background-attachment: fixed;
    line-height: 200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1, nav a {
    text-shadow: #000000 5px 5px 5px;
    font-weight: bold;
    font-size: 2em; 
}

html, nav a, a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

nav li {
    display: inline;
    padding: 2.5%;    
}

a:hover, a:active {
    color: #00ddfa;
    text-decoration: underline;
}

dt {
    font-style: italic;
    padding: 1.025%;
}

body, nav li {
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0px;
}

img {
    width: 20%;
}

li, dl {
    text-align: left;
}

@media only screen and (max-width: 480px) {
    h1, nav a{
        font-size: 150%;
    }

    img {
        width: 40%;
    }

    dl {
        width: 75%
    }
}

@media only screen and (min-width: 481px) {
    img {
        width: 40%;
    }
}

@media only screen and (min-width: 769px) {
    img {
        width: 20%;
    }

    #multi-link {
        display: none;
    }
    
    li:hover #multi-link {
        display: block;
    }
}