@charset "utf-8";

html {
    background-color: #007584;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: 1em;
    background-color: #008452;
    text-align: center;
}

img {
    width: 20%;
}

li {
    text-align: justify;
}

header li {
    text-align: justify;
    display: inline;
    padding: 2.5%;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #00ddfa;
    text-decoration: underline;
}

dl {
    text-align: justify;
}

dt {
    font-style: italic;
    padding: 1.025%;
}